::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#050816;
}

::-webkit-scrollbar-thumb{
    background:#3b82f6;
    border-radius:50px;
}

::-webkit-scrollbar-thumb:hover{
    background:#60a5fa;
}