/* ==========================
   NAVBAR
========================== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.35s ease;
  padding: 20px 8%;
}

.navbar-scroll {
  background: rgba(5, 8, 22, 0.75);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.navbar-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==========================
   LOGO
========================== */

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: var(--font-heading);
  color: var(--text-primary);
  letter-spacing: 1px;
}

.logo span {
  color: var(--primary);
}

/* ==========================
   NAV LINKS
========================== */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-menu a {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 500;
  transition: var(--transition);
  position: relative;
}

.nav-menu a:hover {
  color: white;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: var(--transition);
}

.nav-menu a:hover::after {
  width: 100%;
}

/* ==========================
   MENU BUTTON
========================== */

.menu-btn {
  display: none;
  background: transparent;
  color: white;
  font-size: 2rem;
}

/* ==========================
   MOBILE
========================== */

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 270px;
    height: calc(100vh - 80px);

    background: rgba(10, 15, 30, 0.96);

    backdrop-filter: blur(18px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;

    padding-top: 60px;

    transition: .35s;
  }

  .nav-menu.active {
    right: 0;
  }

}